*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-left: 40px;
    font-family: sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

section .table{
    border: 1px solid black;
    width: 50vw;
}

section .table .tableTitle,
section .table .tableContent{
    display: flex;
    width: 100%;
    padding-left: 10px;
}

section .table .tableTitle{
    background-color: darkgrey;
    border-bottom: 1px solid black;
    padding-top: 10px;
    font-weight: bold;
    font-family: sans-serif;
}

section .table .tableContent{
    justify-content: center;
    align-items: center;
}

section .table .tableContent:hover{
    background-color: lightgray;
}

section .table .tableTitle div{
    width: 100%;
}
section .table .tableContent h1,
section .table .tableContent div{
    width: 100%;
}

section .table .tableContent h1{
    font-family: sans-serif;
}

section .table .tableContent div img{
    width: 60px;
    height: 60px;
    object-fit: contain;
}